
.tableHolder {
  margin: 20px;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  background-color: #1c1c1c;
  color: #fff;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root th, .css-11xur9t-MuiPaper-root-MuiTableContainer-root td {
  color: #45f3ff;
}